.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  position: absolute;
  top: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.carosel-control {
  position: absolute;
  top: 50%;
  /* width: 30px; */
  /* height: 30px; */
  background-color: none;
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0);
  transform: translateY(-50%);
  border-radius: 50%;
  color: black;
  font-size: 30px;
  cursor: pointer;
  display: inline-block; }

.carosel-controlGrey {
  position: absolute;
  top: 50%;
  width: 30px;
  cursor: pointer;
  height: 30px;
  background-color: none;
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0);
  transform: translateY(-50%);
  border-radius: 50%;
  color: lightgray !important;
  font-size: 30px;
  display: inline-block; }

.carosel-control-left {
  left: 0;
  z-index: 100;
  top: 20px;
  position: relative;
  /* padding: 0px 1px 1px 12px; */ }

/* .center{
text-align: center;
justify-content: center;
} */
.carosel-control-right {
  float: right;
  right: 15px;
  position: relative;
  top: -47px; }

.carosel-control-rightGrey {
  float: right;
  right: 0;
  width: 15px;
  position: relative;
  top: -60px; }

.carosel-control:active,
.carosel-control:hover {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8); }

.centeredLogos {
  vertical-align: middle !important;
  height: 60%; }

.logos {
  filter: grayscale(100%);
  width: 50%;
  box-sizing: border-box;
  float: left;
  padding: 10%; }

.logos:hover {
  filter: grayscale(0%); }

@media (max-width: 300px) {
  .carosel-item {
    width: 100%; }

  .carosel-itemFruitFrenzy {
    width: 33.333%; } }
@media (min-width: 300px) {
  .carosel-item {
    width: 50%; }

  .carosel-itemFruitFrenzy {
    width: 33.333%; } }
@media (min-width: 500px) {
  .carosel-item {
    width: 33.333%; }

  .carosel-itemFruitFrenzy {
    width: 33.333%; } }
@media (min-width: 768px) {
  .carosel-item {
    width: 25%; }

  .carosel-itemFruitFrenzy {
    width: 33.333%; } }
.carosel {
  position: relative;
  /* color: black; */
  /* top: 40px;  */ }

.carosel-inner {
  white-space: nowrap;
  overflow: hidden;
  font-size: 0;
  height: 60px; }

.carosel-innerAboutMe {
  white-space: nowrap;
  overflow: hidden;
  font-size: 0;
  position: relative;
  height: 40px;
  top: -40px; }

.carosel-item {
  display: inline-block;
  height: 100%;
  color: white;
  text-align: center;
  font-size: 30px;
  justify-content: center; }

.carosel-itemFruitFrenzy {
  display: inline-block;
  height: 100%;
  color: white;
  text-align: center;
  font-size: 30px;
  justify-content: center; }

/* FOODLET */
.foodletLink {
  text-decoration: none;
  height: 100%;
  position: absolute;
  /* width: 100%; */
  /* left: 18%; */
  color: white;
  /* z-index: 100; */
  margin: 0 auto;
  background-color: rgba(140, 198, 63, 0); }

.foodletLink:hover {
  text-decoration: none;
  height: 100%;
  position: absolute;
  /* width: 100%; */
  /* left: 18%; */
  color: white;
  /* z-index: 100; */
  margin: 0 auto;
  background-color: rgba(140, 198, 63, 0.1); }

.foodletHeroImage {
  background-image: url("../images/iphone-screens.svg");
  background-position: left;
  background-size: contain;
  background-repeat: no-repeat; }

.foodletURLLink {
  /* font-size: 20px; */
  color: white;
  /* font-weight: bold; */
  cursor: pointer; }

.foodletURLLink:hover {
  color: greenyellow;
  /* font-weight: bold; */
  cursor: pointer; }

.subHeaderFoodlet {
  color: white;
  /* font-family: "DIN Condensed",sans-serif; */
  font-size: 25px;
  /* font-weight: 700; */
  letter-spacing: 2px;
  margin-top: 25%;
  /* color: #696969; */ }

.foodletImage {
  vertical-align: middle;
  border-style: none;
  /* width: 850px; */ }

.foodlet {
  height: 100%;
  padding: 0 50px 50px 0;
  /* -webkit-transform: translateY(-50px) translateX(0px) rotate(-3deg); */
  position: relative;
  /* top: 400px; */
  background-repeat: no-repeat;
  background-image: url("../images/foodlet-background.svg");
  background-size: cover;
  background-position: center;
  width: 100%;
  color: white;
  background-color: #8CC63F;
  -webkit-box-shadow: 0px 18px 50px 0px rgba(0, 0, 0, 0.06);
  -moz-box-shadow: 0px 18px 50px 0px rgba(0, 0, 0, 0.06);
  box-shadow: 0px 18px 50px 0px rgba(0, 0, 0, 0.06);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#67bdf1', endColorstr='#6ba4f5',GradientType=1 ); }

@media only screen and (max-width: 576px) {
  .foodlet {
    padding: 0; } }
@media only screen and (min-width: 1024px) {
  .subHeaderFoodlet {
    margin-top: 40%; } }
@media only screen and (max-width: 576px) {
  .foodletHeroImage {
    height: 46%;
    background-position: bottom; }

  .subHeaderFoodlet {
    margin-top: 0; } }
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* android devices */
  .foodletHeroImage {
    height: 48%;
    background-position: bottom; }

  .foodletContent {
    height: 34%;
    bottom: 15%;
    position: absolute; }

  .subHeaderFoodlet {
    margin-top: 0 !important;
    font-size: 12px; } }
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) {
  .foodletHeroImage {
    height: 48%;
    background-position: bottom; }

  .subHeaderFoodlet {
    margin-top: 0 !important;
    font-size: 12px; }

  .contentPara2 {
    display: none; } }
/* END OF FOODLET CSS */
.technologyName {
  display: inline-block;
  color: white;
  position: relative;
  bottom: 0;
  font-size: 10px;
  width: 100%;
  /* top: 30px; */
  line-height: 1em;
  /* left: -100px; */
  text-transform: none; }

/* START OF ICONS */
@font-face {
  font-family: "technology-icons";
  src: url("../fonts/technology-icons.eot");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "technology-icons";
  src: url("../fonts/technology-icons.eot");
  src: url("../fonts/technology-icons.eot?#iefix") format("embedded-opentype"), url("../fonts/technology-icons.woff") format("woff"), url("../fonts/technology-icons.ttf") format("truetype"), url("../fonts/technology-icons.svg?#technology-icons") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "technology-icons";
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  font-weight: normal;
  font-style: normal;
  speak: none;
  width: 100%;
  text-decoration: inherit;
  text-transform: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* Icons */
.icon-aftereffects:before {
  content: "\f101";
  width: 100%; }

.icon-bridge:before {
  content: "\f102";
  width: 100%; }

.icon-dreamweaver:before {
  content: "\f103";
  width: 100%; }

.icon-fireworks:before {
  content: "\f104";
  width: 100%; }

.icon-flash:before {
  content: "\f105";
  width: 100%; }

.icon-illustrator:before {
  content: "\f106";
  width: 100%; }

.icon-indesign:before {
  content: "\f107";
  width: 100%; }

.icon-lightroom:before {
  content: "\f108";
  width: 100%; }

.icon-photoshop:before {
  content: "\f109";
  width: 100%; }

.icon-cockpit:before {
  content: "\f10a";
  width: 100%; }

.icon-drupal:before {
  content: "\f10b";
  width: 100%; }

.icon-joomla:before {
  content: "\f10c";
  width: 100%; }

.icon-magento:before {
  content: "\f10d";
  width: 100%; }

.icon-october:before {
  content: "\f10e";
  width: 100%; }

.icon-wordpress:before {
  content: "\f10f";
  width: 100%; }

.icon-visual-studio:before {
  content: "\f110";
  width: 100%; }

.icon-bootstrap:before {
  content: "\f111";
  width: 100%; }

.icon-emmet:before {
  content: "\f112";
  width: 100%; }

.icon-less:before {
  content: "\f113";
  width: 100%; }

.icon-postcss:before {
  content: "\f114";
  width: 100%; }

.icon-sass:before {
  content: "\f115";
  width: 100%; }

.icon-cassandra:before {
  content: "\f116";
  width: 100%; }

.icon-database:before {
  content: "\f117";
  width: 100%; }

.icon-hadoop:before {
  content: "\f118";
  width: 100%; }

.icon-mariadb:before {
  content: "\f119";
  width: 100%; }

.icon-mongodb:before {
  content: "\f11a";
  width: 100%; }

.icon-mysql-alt:before {
  content: "\f11b";
  width: 100%; }

.icon-mysql:before {
  content: "\f11c";
  width: 100%; }

.icon-postgres:before {
  content: "\f11d";
  width: 100%; }

.icon-sql:before {
  content: "\f11e";
  width: 100%; }

.icon-sublime:before {
  content: "\f11f";
  width: 100%; }

.icon-express:before {
  content: "\f120";
  width: 100%; }

.icon-grails:before {
  content: "\f121";
  width: 100%; }

.icon-grailsalt:before {
  content: "\f122";
  width: 100%; }

.icon-laravel-alt:before {
  content: "\f123";
  width: 100%; }

.icon-laravel:before {
  content: "\f124";
  width: 100%; }

.icon-phonegap:before {
  content: "\f125";
  width: 100%; }

.icon-platter:before {
  content: "\f126";
  width: 100%; }

.icon-playframework:before {
  content: "\f127";
  width: 100%; }

.icon-rails-alt:before {
  content: "\f128";
  width: 100%; }

.icon-rails:before {
  content: "\f129";
  width: 100%; }

.icon-jira-alt:before {
  content: "\f12a";
  width: 100%; }

.icon-jira:before {
  content: "\f12b";
  width: 100%; }

.icon-angular:before {
  content: "\f12c";
  width: 100%; }

.icon-backbone:before {
  content: "\f12d";
  width: 100%; }

.icon-d3:before {
  content: "\f12e";
  width: 100%; }

.icon-ember:before {
  content: "\f12f";
  width: 100%; }

.icon-jquery-alt:before {
  content: "\f130";
  width: 100%; }

.icon-jquery:before {
  content: "\f131";
  width: 100%; }

.icon-react:before {
  content: "\f132";
  width: 100%; }

.icon-c:before {
  content: "\f133";
  width: 100%; }

.icon-cplusplus:before {
  content: "\f134";
  width: 100%; }

.icon-csharp:before {
  content: "\f135";
  width: 100%; }

.icon-haskell:before {
  content: "\f136";
  width: 100%; }

.icon-java:before {
  content: "\f137";
  width: 100%; }

.icon-nodejs:before {
  content: "\f138";
  width: 100%; }

.icon-objectivec:before {
  content: "\f139";
  width: 100%; }

.icon-perl:before {
  content: "\f13a";
  width: 100%; }

.icon-php-alt:before {
  content: "\f13b";
  width: 100%; }

.icon-php:before {
  content: "\f13c";
  width: 100%; }

.icon-python:before {
  content: "\f13d";
  width: 100%; }

.icon-ruby:before {
  content: "\f13e";
  width: 100%; }

.icon-scala:before {
  content: "\f13f";
  width: 100%; }

.icon-debian:before {
  content: "\f140";
  width: 100%; }

.icon-fedora:before {
  content: "\f141";
  width: 100%; }

.icon-freebsd:before {
  content: "\f142";
  width: 100%; }

.icon-gnome:before {
  content: "\f143";
  width: 100%; }

.icon-java-duke:before {
  content: "\f144";
  width: 100%; }

.icon-kde:before {
  content: "\f145";
  width: 100%; }

.icon-linux-mint:before {
  content: "\f146";
  width: 100%; }

.icon-netbsd:before {
  content: "\f147";
  width: 100%; }

.icon-rasbaerrypi:before {
  content: "\f148";
  width: 100%; }

.icon-redhat:before {
  content: "\f149";
  width: 100%; }

.icon-solaris:before {
  content: "\f14a";
  width: 100%; }

.icon-suse:before {
  content: "\f14b";
  width: 100%; }

.icon-ubuntu:before {
  content: "\f14c";
  width: 100%; }

.icon-autoit:before {
  content: "\f14d";
  width: 100%; }

.icon-browsersync:before {
  content: "\f14e";
  width: 100%; }

.icon-confluence:before {
  content: "\f14f";
  width: 100%; }

.icon-dynamicweb:before {
  content: "\f150";
  width: 100%; }

.icon-babel:before {
  content: "\f151";
  width: 100%; }

.icon-webpack:before {
  content: "\f152";
  width: 100%; }

.icon-osx:before {
  content: "\f153";
  width: 100%; }

.icon-codeignitor:before {
  content: "\f154";
  width: 100%; }

.icon-composer:before {
  content: "\f155";
  width: 100%; }

.icon-zend:before {
  content: "\f156";
  width: 100%; }

.icon-apache:before {
  content: "\f157";
  width: 100%; }

.icon-jetty:before {
  content: "\f158";
  width: 100%; }

.icon-memcached:before {
  content: "\f159";
  width: 100%; }

.icon-nginx-alt:before {
  content: "\f15a";
  width: 100%; }

.icon-nginx:before {
  content: "\f15b";
  width: 100%; }

.icon-redis:before {
  content: "\f15c";
  width: 100%; }

.icon-tomcat:before {
  content: "\f15d";
  width: 100%; }

.icon-ec3:before {
  content: "\f15e";
  width: 100%; }

.icon-github-circle-alt:before {
  content: "\f15f";
  width: 100%; }

.icon-github-circle:before {
  content: "\f160";
  width: 100%; }

.icon-github:before {
  content: "\f161";
  width: 100%; }

.icon-google-code:before {
  content: "\f162";
  width: 100%; }

.icon-heroku:before {
  content: "\f163";
  width: 100%; }

.icon-shell-alt:before {
  content: "\f164";
  width: 100%; }

.icon-shell:before {
  content: "\f165";
  width: 100%; }

.icon-shellscript:before {
  content: "\f166";
  width: 100%; }

.icon-opensource:before {
  content: "\f167";
  width: 100%; }

.icon-bower:before {
  content: "\f168";
  width: 100%; }

.icon-grunt:before {
  content: "\f169";
  width: 100%; }

.icon-gulp:before {
  content: "\f16a";
  width: 100%; }

.icon-selenium:before {
  content: "\f16b";
  width: 100%; }

.icon-git-squared:before {
  content: "\f16c";
  width: 100%; }

.icon-git:before {
  content: "\f16d";
  width: 100%; }

.icon-svn:before {
  content: "\f16e";
  width: 100%; }

.icon-css-alt:before {
  content: "\f16f";
  width: 100%; }

.icon-css3-alt:before {
  content: "\f170";
  width: 100%; }

.icon-css3:before {
  content: "\f171";
  width: 100%; }

.icon-html5:before {
  content: "\f172";
  width: 100%; }

.icon-js:before {
  content: "\f173";
  width: 100%; }

/* END OF ICONS */
.revu {
  height: 100%;
  padding: 0 50px 50px 0;
  /* -webkit-transform: translateY(-50px) translateX(0px) rotate(-3deg); */
  position: relative;
  /* top: 400px; */
  background-repeat: no-repeat;
  background-image: url("../images/revuBackground.svg");
  background-size: cover;
  background-position: center;
  width: 100%;
  color: white;
  background-color: #171717;
  -webkit-box-shadow: 0px 18px 50px 0px rgba(0, 0, 0, 0.06);
  -moz-box-shadow: 0px 18px 50px 0px rgba(0, 0, 0, 0.06);
  box-shadow: 0px 18px 50px 0px rgba(0, 0, 0, 0.06);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#67bdf1', endColorstr='#6ba4f5',GradientType=1 ); }

@media only screen and (max-width: 576px) {
  .revu {
    padding: 0; }

  .revuHeroImage {
    height: 50%; } }
.revuURLLink {
  /* font-size: 20px; */
  color: white;
  /* font-weight: bold; */
  cursor: pointer; }

.revuURLLink:hover {
  color: white;
  /* font-weight: bold; */
  cursor: pointer; }

.revuHeroImage {
  background-image: url("../images/revulaptop.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat; }

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* android devices */
  .revu {
    padding: 0 !important; }

  .revuHeroImage {
    height: 50%;
    background-position: bottom; }

  .revuContent {
    height: 34%;
    bottom: 9%;
    position: absolute; } }
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) {
  .revu {
    padding: 0 !important; }

  .revuHeroImage {
    height: 50%; }

  .revuContent {
    height: 34%;
    bottom: 17%;
    position: absolute; } }
/* SHIFT */
.shiftURLLink {
  /* font-size: 20px; */
  color: white;
  /* font-weight: bold; */
  cursor: pointer; }

.shiftURLLink:hover {
  color: lightBlue;
  /* font-weight: bold; */
  cursor: pointer; }

.shiftIconcolor {
  color: #A9A9A9; }

.caroselShift {
  position: relative;
  color: black;
  /* top: 40px;  */ }

.shiftLogo {
  width: 125px;
  top: 100px;
  position: relative; }

.subHeaderShift {
  color: white;
  /* font-family: "DIN Condensed",sans-serif; */
  font-size: 25px;
  /* font-weight: 700; */
  letter-spacing: 2px;
  margin-top: 25%;
  /* color: #696969; */ }

.technologyNameShift {
  display: inline-block;
  color: #A9A9A9;
  position: relative;
  bottom: 0;
  font-size: 10px;
  width: 70px;
  top: 30px;
  line-height: 1em;
  left: -80px;
  text-transform: none; }

.shift {
  background-image: url("../images/shift-background.svg");
  height: 100vh;
  padding: 0 0 50px 50px;
  /* -webkit-transform: translateY(-50px) translateX(0px) rotate(-3deg); */
  position: relative;
  /* top: 400px; */
  width: 100%;
  color: white !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -webkit-box-shadow: 0px 18px 50px 0px rgba(0, 0, 0, 0.06);
  -moz-box-shadow: 0px 18px 50px 0px rgba(0, 0, 0, 0.06);
  box-shadow: 0px 18px 50px 0px rgba(0, 0, 0, 0.06); }

@media only screen and (max-width: 576px) {
  .shift {
    padding: 0; } }
.is-mobile {
  display: none; }

.shiftLink {
  text-decoration: none;
  height: 100%;
  background-image: url("../images/iphone.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  color: white;
  background-color: rgba(240, 240, 241, 0); }

@media only screen and (max-width: 576px) {
  .shiftLink {
    height: 40%; }

  .subHeaderShift {
    margin-top: 5%; } }
@media only screen and (min-device-width: 576px) and (max-device-width: 768px) {
  margin-top: 10%; }
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* android devices */
  .shift {
    padding: 0 !important; }

  .shiftLink {
    height: 48%;
    background-position: bottom; }

  .shiftContent {
    height: 34%;
    bottom: 15%;
    position: absolute; }

  .subHeaderShift {
    margin-top: 0 !important;
    font-size: 12px; }

  .is-not-mobile {
    display: none; }

  .is-mobile {
    display: block; } }
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) {
  .shiftLink {
    height: 48%;
    background-position: bottom; }

  .shift {
    padding: 0 !important; }

  .subHeaderShift {
    margin-top: 0 !important;
    font-size: 12px; }

  .is-not-mobile {
    display: none; }

  .is-mobile {
    display: block; } }
/* END OF SHIFT  */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px; }

  .sidenav a {
    font-size: 18px; } }
.projects {
  position: relative;
  left: 40px; }

.navigationPage {
  font-size: 35px; }

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px; }

.projects a {
  padding: 8px 8px 8px 32px; }

.sidenav a {
  /* padding: 8px 8px 8px 32px; */
  text-decoration: none;
  font-size: 20px;
  font-family: 'circe';
  letter-spacing: 2px;
  color: #818181;
  display: block;
  transition: 0.3s; }

.bold {
  font-weight: bold; }

.sidenav a:hover {
  /* font-weight: bold; */
  color: #f1f1f1; }

.sidenav a:active {
  font-weight: bold;
  color: #f1f1f1; }

.navbar {
  position: fixed;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  z-index: 1000;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  background-color: none;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: .5rem 1rem; }

.NavbarText {
  font-size: 10px;
  /* color: #6BA4F5; */
  font-weight: bold;
  font-family: 'circe';
  letter-spacing: 3px;
  /* margin-top: 30%; */
  /* color: #696969; */
  text-align: left; }

a:hover {
  /* color: #0056b3; */
  text-decoration: none; }

.menuTransition {
  width: 100vw;
  height: 0; }

.buttons {
  display: inline; }

a {
  color: grey;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px; }

/* FRUIT FRENZY */
.fruitFrenzy2 {
  height: 100vh;
  padding: 0 50px 50px 0;
  /* -webkit-transform: translateY(-50px) translateX(0px) rotate(-3deg); */
  position: relative;
  /* top: 400px; */
  /* left: 0; */
  background-color: #F4F3F0;
  background-repeat: no-repeat;
  width: 100%;
  color: white;
  background-size: cover;
  background-image: url("../images/fruitfrenzy-background.svg");
  -webkit-box-shadow: 0px 18px 50px 0px rgba(0, 0, 0, 0.06);
  -moz-box-shadow: 0px 18px 50px 0px rgba(0, 0, 0, 0.06);
  box-shadow: 0px 18px 50px 0px rgba(0, 0, 0, 0.06); }

@media only screen and (max-width: 576px) {
  .fruitFrenzy2 {
    padding: 0; } }
.fruitFrenzyURLLink {
  /* font-size: 20px; */
  color: white;
  /* font-weight: bold; */
  cursor: pointer; }

.fruitFrenzyURLLink:hover {
  color: #f9c809;
  /* font-weight: bold; */
  cursor: pointer; }

.subHeaderFruitFrenzy {
  color: white;
  /* font-family: "DIN Condensed",sans-serif; */
  font-size: 25px;
  /* font-weight: 700; */
  letter-spacing: 2px;
  margin-top: 25%;
  /* color: #696969; */ }

.fruitFrenzyImage {
  vertical-align: middle;
  border-style: none;
  /* width: 850px; */ }

.fruitFrenzyLink {
  text-decoration: none;
  height: 100%;
  color: white;
  background-image: url(../images/fruitFrenzyRespo.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat; }

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* android devices */
  .fruitFrenzy2 {
    padding: 0 !important; }

  .fruitFrenzyLink {
    height: 52%;
    background-position: bottom; }

  .fruitFrenzyContent {
    height: 30%;
    bottom: 15%;
    position: absolute;
    padding: 0 10% 0 10%; }

  .contentWhite {
    font-size: 16px !important; }

  .subHeaderFruitFrenzy {
    margin-top: 0 !important;
    font-size: 12px; } }
@media only screen and (max-width: 576px) {
  .fruitFrenzyLink {
    height: 50%; }

  .subHeaderFruitFrenzy {
    margin-top: 0; } }
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) {
  .fruitFrenzy2 {
    padding: 0 !important; }

  .fruitFrenzyLink {
    height: 43%;
    background-position: center; }

  .subHeaderFruitFrenzy {
    margin-top: 0 !important;
    font-size: 12px; }

  .fruitFrenzyContent {
    height: 34%;
    bottom: 23%;
    position: absolute; } }
/* END OF FRUIT FRENZY CSS */
.moreContent {
  position: absolute;
  bottom: 15px;
  width: 90%;
  text-align: center;
  margin: 0 auto; }

.downArrow {
  position: relative;
  bottom: 0; }

.bounce {
  -moz-animation: bounce 3s infinite;
  -webkit-animation: bounce 3s infinite;
  animation: bounce 3s infinite; }

@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0); }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px); }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px); } }
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px); }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px); } }
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px); }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px); } }
.iAmHomePage {
  position: relative;
  top: 60%; }

.iAmWill {
  display: block;
  font-weight: 300; }

.whatIam {
  top: 30px;
  position: relative; }

h1 {
  color: rgba(0, 0, 0, 0.3);
  font-size: 40px;
  display: inline; }

h2 {
  color: black;
  font-size: 40px;
  display: inline; }

.iAm {
  font-size: 40px;
  display: block;
  font-weight: 300;
  height: 93px; }

.hi {
  position: relative;
  /* top: 300px; */
  padding-left: 50px; }

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) {
  .iAmHomePage {
    position: relative;
    top: 70%;
    left: 6%;
    width: 95%; }

  .homeContentAbout {
    display: none; }

  .moreContent {
    width: calc(100% - 120px) !important; }

  .iAmWill {
    width: 95%; }

  .iAm {
    font-size: 25px !important;
    width: 95%; } }
.subText {
  font-size: 25px;
  font-weight: 400;
  font-family: 'circe';
  line-height: 1.5em;
  padding-top: 20px;
  color: grey;
  /* letter-spacing: 3px; */ }

.name {
  font-size: 13px;
  font-weight: 700;
  font-family: 'circe';
  line-height: 1.5em;
  float: right;
  position: relative;
  top: 30px;
  width: calc(100% - 90px);
  /* padding-top: 20px; */
  color: black;
  letter-spacing: 2px; }

.jobRole {
  font-size: 12px;
  display: inline;
  font-weight: 300;
  letter-spacing: 0.5px;
  font-family: 'circe';
  color: #A9A9A9; }

.profilePicture {
  width: 600px;
  position: absolute;
  bottom: 0;
  opacity: 0.2;
  right: 0; }

.experienceSection {
  top: 60%;
  position: relative; }

.experienceContent {
  padding-top: 50px;
  padding-left: 100px; }

.experienceSectionImages {
  top: 100%;
  position: relative; }

.aboutMe {
  height: 100%;
  /* padding: 0 0 0 50px; */
  position: relative;
  left: 0;
  background-color: white;
  width: 100%;
  color: black;
  -webkit-box-shadow: 0px 18px 50px 0px rgba(0, 0, 0, 0.06);
  -moz-box-shadow: 0px 18px 50px 0px rgba(0, 0, 0, 0.06);
  box-shadow: 0px 18px 50px 0px rgba(0, 0, 0, 0.06); }

.aboutMeImage {
  height: 70px;
  width: 70px;
  top: 15px;
  margin: 0 0.5em;
  position: relative;
  border-radius: 50px;
  margin-bottom: 25px;
  /* border: solid 1px #F7F7F7; */
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  background-image: url(../images/me.jpg);
  display: inline-block;
  -webkit-box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.09);
  -moz-box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.09);
  box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.09); }

.subHeaderAboutME {
  /* font-family: "DIN Condensed",sans-serif; */
  font-size: 25px;
  /* font-weight: 700; */
  letter-spacing: 2px;
  margin-top: 16%; }

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* android devices */
  .aboutMe {
    padding: 0 !important; }

  .subHeaderAboutME {
    margin-top: 44%; } }
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) {
  .aboutMe {
    padding: 0 !important; }

  .col-2 {
    display: none; }

  h2 {
    font-size: 25px; } }
.contact {
  position: absolute;
  left: 10px;
  bottom: 40px; }

.contact a {
  font-size: 20px; }

.emailLink {
  margin: 20px !important; }

.contactMenu {
  position: absolute;
  bottom: 0; }

.socialLinks {
  display: inline !important;
  font-size: 12px !important;
  color: white !important;
  margin: 20px !important; }

.contactMe {
  height: 100%;
  position: relative;
  left: 0;
  background-color: #F7F7F7;
  color: #707070;
  width: 90%;
  -webkit-box-shadow: 0px 18px 50px 0px rgba(0, 0, 0, 0.06);
  -moz-box-shadow: 0px 18px 50px 0px rgba(0, 0, 0, 0.06);
  box-shadow: 0px 18px 50px 0px rgba(0, 0, 0, 0.06); }

.emailAddress:hover {
  color: grey !important; }

.emailAddress a {
  letter-spacing: 0px !important;
  font-weight: 300; }

.emailAddressPage {
  display: block;
  position: absolute;
  bottom: 5%;
  right: 5%;
  text-align: right;
  font-size: 30px;
  line-height: 1.4em; }

.subHeaderContactME {
  /* font-family: "DIN Condensed",sans-serif; */
  font-size: 25px;
  /* font-weight: 700; */
  letter-spacing: 2px;
  margin-top: 15%;
  /* justify-content: center; */
  /* text-align: center; */
  color: black; }

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) {
  .emailAddressPage {
    font-size: 24px;
    line-height: 1.7em !important; }

  .contactMe {
    padding: 0 !important; } }
.line {
  position: absolute;
  height: 2px;
  width: 100%;
  background: white;
  border-radius: 2px;
  transition: all cubic-bezier(0.25, 0.1, 0.28, 1.54) 0.32s;
  background: black; }

.burgerMenuButton {
  color: black;
  float: left;
  position: fixed;
  left: 0px;
  top: 25px;
  z-index: 1000;
  -webkit-transition: 0.5s; }

.burgerMenuButton.clicked {
  color: black;
  float: left;
  position: fixed;
  left: 240px;
  top: 25px;
  z-index: 1000;
  -webkit-transition: 0.5s; }

.main-item {
  width: 30px;
  top: 0;
  left: 20px;
  height: 30px;
  position: relative;
  cursor: pointer;
  z-index: 10; }

.line01 {
  top: 33.3%;
  width: 100%;
  left: 0; }

.line02 {
  top: 66.6%;
  width: 65%;
  right: 0; }

.menu:hover .line01 {
  width: 65%; }

.menu:hover .line02 {
  width: 100%;
  top: 66%; }

.menu.close .line01 {
  transform: rotate(45deg);
  top: 49%;
  width: 100%;
  background-color: black; }

.menu.close .line02 {
  transform: rotate(-45deg);
  top: 49%;
  width: 100%;
  background-color: black; }

body {
  background-color: white;
  color: #707070;
  font-family: 'circe';
  font-weight: 300;
  font-size: 13px;
  line-height: 2em; }

.cb-intro-more {
  margin: 50px 0 0 0;
  font-size: 17px;
  letter-spacing: 1.04px; }

.cb-intro-more {
  display: inline-block;
  position: absolute;
  margin: 25px 0 0 0;
  font-family: "din-condensed",sans-serif;
  font-size: 17px;
  font-weight: 700;
  letter-spacing: 2px;
  top: 84%;
  left: 15px;
  text-transform: uppercase;
  color: black !important; }

.cb-intro-more div:before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  background: #000;
  -webkit-animation: cb-intro-more-sliding 2s linear infinite;
  -moz-animation: cb-intro-more-sliding 2s linear infinite;
  -o-animation: cb-intro-more-sliding 2s linear infinite;
  animation: cb-intro-more-sliding 2s linear infinite; }

:after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

p {
  margin: 0 !important; }

#main {
  transition: margin-left .5s; }

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) {
  #main {
    margin-left: 0 !important; }

  .contentPara2 {
    display: none; }

  p {
    margin: 0 !important;
    letter-spacing: 0px; }

  #scroll-down {
    left: 10% !important; }

  .cb-intro-more {
    left: 10% !important; }

  .contentWhite {
    padding-top: 0 !important; } }
hr {
  border: 0;
  border-top: 1px solid white; }

a:hover {
  color: lightgray;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

.social {
  margin: 0 auto;
  text-align: center; }

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  height: 100vh;
  margin-right: 0;
  margin-left: 0; }

.subHeader {
  font-size: 10px;
  font-weight: normal;
  font-family: 'circe';
  letter-spacing: 3px;
  margin-top: 30%;
  /* color: #696969; */ }

span {
  border-right: .05em solid;
  animation: caret 1s steps(1) infinite; }

@keyframes caret {
  50% {
    border-color: transparent; } }
.content {
  font-size: 12px;
  font-weight: light;
  font-family: 'circe';
  line-height: 24px;
  padding-bottom: 50px;
  padding-top: 45px;
  color: #707070; }

.contentBlack {
  font-size: 12px;
  font-weight: light;
  font-family: 'circe';
  letter-spacing: 0.5px;
  line-height: 24px;
  padding-bottom: 20px;
  padding-top: 25px;
  color: black; }

.contentWhite {
  font-size: 13px;
  font-weight: light;
  font-family: 'circe';
  letter-spacing: px;
  line-height: 24px;
  padding-bottom: 0;
  padding-top: 25px;
  color: white; }

@media only screen and (max-width: 576px) {
  .contentWhite {
    font-size: 10px;
    font-weight: light;
    font-family: 'circe';
    letter-spacing: px;
    line-height: 20px;
    padding-bottom: 0;
    padding-top: 0 !important;
    color: white; }

  .content {
    line-height: 20px;
    font-size: 10px; } }
.title {
  font-size: 10px;
  font-weight: normal;
  font-family: 'circe';
  letter-spacing: 3px;
  justify-content: left;
  text-align: left;
  color: white; }

a.title {
  left: 0;
  position: relative;
  padding: 0 !important;
  font-size: 10px;
  font-weight: normal;
  font-family: 'circe';
  letter-spacing: 3px;
  justify-content: left;
  text-align: left;
  color: #696969; }

#scroll-down {
  display: block;
  position: absolute;
  top: 93%;
  left: 15px;
  width: 1px;
  height: 80px;
  background: rgba(0, 0, 0, 0.1);
  content: ' '; }

#scroll-down::before {
  -webkit-animation: elasticus 1.2s cubic-bezier(1, 0, 0, 1) infinite;
  /* Safari 4+ */
  -moz-animation: elasticus 1.2s cubic-bezier(1, 0, 0, 1) infinite;
  /* Fx 5+ */
  -o-animation: elasticus 1.2s cubic-bezier(1, 0, 0, 1) infinite;
  /* Opera 12+ */
  animation: elasticus 1.2s cubic-bezier(1, 0, 0, 1) infinite;
  /* IE 10+, Fx 29+ */
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 80px;
  background: black;
  content: ' '; }

@-webkit-keyframes elasticus {
  0% {
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    -moz-transform: scale(1, 0);
    -o-transform: scale(1, 0);
    transform: scale(1, 0); }
  50% {
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1); }
  50.1% {
    -webkit-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    -moz-transform-origin: 0% 100%;
    -o-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1); }
  100% {
    -webkit-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    -moz-transform-origin: 0% 100%;
    -o-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    -moz-transform: scale(1, 0);
    -o-transform: scale(1, 0);
    transform: scale(1, 0); } }
@-moz-keyframes elasticus {
  0% {
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    -moz-transform: scale(1, 0);
    -o-transform: scale(1, 0);
    transform: scale(1, 0); }
  50% {
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1); }
  50.1% {
    -webkit-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    -moz-transform-origin: 0% 100%;
    -o-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1); }
  100% {
    -webkit-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    -moz-transform-origin: 0% 100%;
    -o-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    -moz-transform: scale(1, 0);
    -o-transform: scale(1, 0);
    transform: scale(1, 0); } }
@-o-keyframes elasticus {
  0% {
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    -moz-transform: scale(1, 0);
    -o-transform: scale(1, 0);
    transform: scale(1, 0); }
  50% {
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1); }
  50.1% {
    -webkit-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    -moz-transform-origin: 0% 100%;
    -o-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1); }
  100% {
    -webkit-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    -moz-transform-origin: 0% 100%;
    -o-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    -moz-transform: scale(1, 0);
    -o-transform: scale(1, 0);
    transform: scale(1, 0); } }
@keyframes elasticus {
  0% {
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    -moz-transform: scale(1, 0);
    -o-transform: scale(1, 0);
    transform: scale(1, 0); }
  50% {
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1); }
  50.1% {
    -webkit-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    -moz-transform-origin: 0% 100%;
    -o-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1); }
  100% {
    -webkit-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    -moz-transform-origin: 0% 100%;
    -o-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    -moz-transform: scale(1, 0);
    -o-transform: scale(1, 0);
    transform: scale(1, 0); } }

/*# sourceMappingURL=style.css.map */
