/*
Error: Undefined mixin 'box-sizing'.
        on line 1128 of scss/style.scss, in `box-sizing'
        from line 1128 of scss/style.scss

1123: Primary style
1124: 
1125: -------------------------------- *\/
1126: 
1127: *, *::after, *::before {
1128: 	@include box-sizing(border-box);
1129: }
1130: 
1131: *::after, *::before {
1132: 	content: '';
1133: }

Backtrace:
scss/style.scss:1128:in `box-sizing'
scss/style.scss:1128
/Users/Griff/.rvm/gems/ruby-2.2.5-install/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:352:in `block in visit_mixin'
/Users/Griff/.rvm/gems/ruby-2.2.5-install/gems/sass-3.5.5/lib/sass/stack.rb:98:in `block in with_mixin'
/Users/Griff/.rvm/gems/ruby-2.2.5-install/gems/sass-3.5.5/lib/sass/stack.rb:135:in `with_frame'
/Users/Griff/.rvm/gems/ruby-2.2.5-install/gems/sass-3.5.5/lib/sass/stack.rb:98:in `with_mixin'
/Users/Griff/.rvm/gems/ruby-2.2.5-install/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:350:in `visit_mixin'
/Users/Griff/.rvm/gems/ruby-2.2.5-install/gems/sass-3.5.5/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/Griff/.rvm/gems/ruby-2.2.5-install/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
/Users/Griff/.rvm/gems/ruby-2.2.5-install/gems/sass-3.5.5/lib/sass/stack.rb:79:in `block in with_base'
/Users/Griff/.rvm/gems/ruby-2.2.5-install/gems/sass-3.5.5/lib/sass/stack.rb:135:in `with_frame'
/Users/Griff/.rvm/gems/ruby-2.2.5-install/gems/sass-3.5.5/lib/sass/stack.rb:79:in `with_base'
/Users/Griff/.rvm/gems/ruby-2.2.5-install/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:162:in `visit'
/Users/Griff/.rvm/gems/ruby-2.2.5-install/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:444:in `block (2 levels) in visit_rule'
/Users/Griff/.rvm/gems/ruby-2.2.5-install/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:444:in `map'
/Users/Griff/.rvm/gems/ruby-2.2.5-install/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:444:in `block in visit_rule'
/Users/Griff/.rvm/gems/ruby-2.2.5-install/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
/Users/Griff/.rvm/gems/ruby-2.2.5-install/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:442:in `visit_rule'
/Users/Griff/.rvm/gems/ruby-2.2.5-install/gems/sass-3.5.5/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/Griff/.rvm/gems/ruby-2.2.5-install/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
/Users/Griff/.rvm/gems/ruby-2.2.5-install/gems/sass-3.5.5/lib/sass/stack.rb:79:in `block in with_base'
/Users/Griff/.rvm/gems/ruby-2.2.5-install/gems/sass-3.5.5/lib/sass/stack.rb:135:in `with_frame'
/Users/Griff/.rvm/gems/ruby-2.2.5-install/gems/sass-3.5.5/lib/sass/stack.rb:79:in `with_base'
/Users/Griff/.rvm/gems/ruby-2.2.5-install/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:162:in `visit'
/Users/Griff/.rvm/gems/ruby-2.2.5-install/gems/sass-3.5.5/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/Griff/.rvm/gems/ruby-2.2.5-install/gems/sass-3.5.5/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/Griff/.rvm/gems/ruby-2.2.5-install/gems/sass-3.5.5/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/Griff/.rvm/gems/ruby-2.2.5-install/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:171:in `block in visit_children'
/Users/Griff/.rvm/gems/ruby-2.2.5-install/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
/Users/Griff/.rvm/gems/ruby-2.2.5-install/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:170:in `visit_children'
/Users/Griff/.rvm/gems/ruby-2.2.5-install/gems/sass-3.5.5/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/Griff/.rvm/gems/ruby-2.2.5-install/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:190:in `visit_root'
/Users/Griff/.rvm/gems/ruby-2.2.5-install/gems/sass-3.5.5/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/Griff/.rvm/gems/ruby-2.2.5-install/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:161:in `visit'
/Users/Griff/.rvm/gems/ruby-2.2.5-install/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:10:in `visit'
/Users/Griff/.rvm/gems/ruby-2.2.5-install/gems/sass-3.5.5/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/Griff/.rvm/gems/ruby-2.2.5-install/gems/sass-3.5.5/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Users/Griff/.rvm/gems/ruby-2.2.5-install/gems/sass-3.5.5/lib/sass/engine.rb:389:in `_render_with_sourcemap'
/Users/Griff/.rvm/gems/ruby-2.2.5-install/gems/sass-3.5.5/lib/sass/engine.rb:307:in `render_with_sourcemap'
/Users/Griff/.rvm/gems/ruby-2.2.5-install/gems/sass-3.5.5/lib/sass/plugin/compiler.rb:462:in `update_stylesheet'
/Users/Griff/.rvm/gems/ruby-2.2.5-install/gems/sass-3.5.5/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/Griff/.rvm/gems/ruby-2.2.5-install/gems/sass-3.5.5/lib/sass/plugin/compiler.rb:209:in `each'
/Users/Griff/.rvm/gems/ruby-2.2.5-install/gems/sass-3.5.5/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/Griff/.rvm/gems/ruby-2.2.5-install/gems/sass-3.5.5/lib/sass/plugin/compiler.rb:443:in `on_file_changed'
/Users/Griff/.rvm/gems/ruby-2.2.5-install/gems/sass-3.5.5/lib/sass/plugin/compiler.rb:320:in `block in watch'
/Users/Griff/.rvm/gems/ruby-2.2.5-install@global/gems/sass-listen-4.0.0/lib/sass-listen/event/config.rb:23:in `call'
/Users/Griff/.rvm/gems/ruby-2.2.5-install@global/gems/sass-listen-4.0.0/lib/sass-listen/event/config.rb:23:in `call'
/Users/Griff/.rvm/gems/ruby-2.2.5-install@global/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:115:in `_process_changes'
/Users/Griff/.rvm/gems/ruby-2.2.5-install@global/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:19:in `block in loop_for'
/Users/Griff/.rvm/gems/ruby-2.2.5-install@global/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:15:in `loop'
/Users/Griff/.rvm/gems/ruby-2.2.5-install@global/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:15:in `loop_for'
/Users/Griff/.rvm/gems/ruby-2.2.5-install@global/gems/sass-listen-4.0.0/lib/sass-listen/event/loop.rb:84:in `_wait_for_changes'
/Users/Griff/.rvm/gems/ruby-2.2.5-install@global/gems/sass-listen-4.0.0/lib/sass-listen/event/loop.rb:42:in `block in setup'
/Users/Griff/.rvm/gems/ruby-2.2.5-install@global/gems/sass-listen-4.0.0/lib/sass-listen/internals/thread_pool.rb:6:in `call'
/Users/Griff/.rvm/gems/ruby-2.2.5-install@global/gems/sass-listen-4.0.0/lib/sass-listen/internals/thread_pool.rb:6:in `block in add'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined mixin 'box-sizing'.\A         on line 1128 of scss/style.scss, in `box-sizing'\A         from line 1128 of scss/style.scss\A \A 1123: Primary style\A 1124: \A 1125: -------------------------------- */\A 1126: \A 1127: *, *::after, *::before {\A 1128: 	@include box-sizing(border-box);\A 1129: }\A 1130: \A 1131: *::after, *::before {\A 1132: 	content: '';\A 1133: }"; }
